* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;

}

#preloader {
    background-color: #f6f4f7;
    background-image: url(20240301_223424.gif);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
}

/* body::-webkit-scrollbar {
    display: none;
} */

#header {
    width: 100vw;
    height: 100vh;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bgvideo {
    width: 100vw;
    height: 100vh;
    position: absolute;
    object-fit: cover;
}

.text1 {
    position: relative;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 50px 50px 0px 50px;
}

.text2 {
    position: relative;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: right;
    padding: 50px 35px 0px 0px;
}

.logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row
}

.logo img {
    margin: 0px 0px 0px 10px;
    position: relative;
    width: 150px;
}

.logo a {
    margin-right: 50px;
    color: #fff;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.p1 {
    position: relative;
    color: #ffffff93;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 5px 0px 0px 50px;
}

.buttonbox {
    position: relative;
    margin: 100px 0px 135px 0px;
    display: flex;
    justify-content: center;
}

.button {
    position: relative;
    width: 400px;
    display: flex;
    text-decoration: none;
    background-color: #fff;
    color: #000000;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px 90px;
    margin-top: 100px;
    border-radius: 10px;
    justify-content: center;
}

.button:hover {
    position: relative;
    text-decoration: none;
    background-color: #000000;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 100px;
    padding: 20px 90px;
    border-radius: 10px;
}

.item1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: #000000;
}

.display1 img{
    width: 500px;
    position: relative;
}
.display1 video{
    position: absolute;
    width: 500px;
}

.item2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 0px;
    color: #000000;
}

.display2 img{
    width: 400px;
    position: relative; 
}

.display2 video{
    margin: 10px 0px;
    width: 350px;
    position: absolute;
}

.item3{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 0px;
    color: #000000;
}

.display3 img{
    width: 400px;
    position: relative;
}

.display3 video{
    width: 300px;
    position: relative;
}

@media only screen and (max-width:600px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-color: aliceblue;
        overflow-x: hidden;

    }

    body::-webkit-scrollbar {
        display: none;
    }

    #preloader {
        background-color: #f6f4f7;
        background-image: url(20240301_223424.gif);
        background-size: 35%;
        background-repeat: no-repeat;
        background-position: center;
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 100;
    }

    #header {
        width: 100vw;
        height: 100vh;
        background-image: url(bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .text1 {
        position: relative;
        color: #fff;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 24px;
        padding: 100px 0px 0px 10px;
    }

    .text2 {
        position: relative;
        color: #fff;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 24px;
        float: right;
        padding: 10px 10px 0px 0px;
    }

    .logo {
        /* padding-top: 10px; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row
    }

    .logo img {
        margin: 0px 0px 0px 0px;
        position: relative;
        width: 100px;
    }

    .logo a {
        margin-right: 50px;
        color: #fff;
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
    }

    .p1 {
        position: relative;
        color: #ffffff;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        padding: 20px 0px 0px 10px;
    }

    .button {
        position: relative;
        width: 300px;
        display: flex;
        text-decoration: none;
        background-color: #fff;
        color: #000000;
        font-size: 18px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 20px 50px;
        margin-top: 4%;
        border-radius: 10px;
        justify-content: center;
    }

    .button:hover {
        position: relative;
        text-decoration: none;
        background-color: #000000;
        color: #ffffff;
        font-size: 18px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: 4%;
        padding: 20px 50px;
        border-radius: 10px;
    }

    .item1{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        flex-direction: column-reverse;
        padding: 0px;
        color: #000000;
    }
    
    .item1 .item2 .item3 h1{
        font-size: 16px;
    }

    .display1 img{
        width: 300px;
        position: relative;
    }
    .display1 video{
        position: absolute;
        width: 300px;
    }
    
    .item2{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        padding: 0px;
        color: #000000;
    }

    .display2 img{
        width: 200px;
        position: relative; 
    }
    
    .display2 video{
        width: 350px;
        position: absolute;
    }

    .item3{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        flex-direction: column-reverse;
        padding: 0px;
        color: #000000;
    }

    .display3 img{
        width:300px;
        position: relative;
    }
    
    .display3 video{
        width: 100px;
        position: relative;
    }
}